:root {
  --dark-blue: rgb(0, 0, 23); /* Dominant color */
  --white: rgb(0, 0, 23);
  --light-blue:rgb(0, 0, 23);
  --blue:  rgb(0, 0, 23);/* Light blue for contrast */
  --dark-blue-shade:rgb(0, 0, 23);
  --background-text-color: rgb(0, 0, 23); /* Updated background color */
  --shadow-light: rgba(0, 0, 0, 0.1);
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--background-text-color);
  color: var(--white);
  line-height: 1.8;
  overflow: auto;
}

.background-text {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: var(--light-blue); /* Change text color for visibility */
  font-size: 4rem;
  letter-spacing: -5px;
  font-weight: 700;
  z-index: 1;
  animation: spam 10s infinite;
  user-select: none;
}

.background-text span {
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--light-blue);
  font-size: 5em;
  letter-spacing: -5px;
  font-weight: 700;
  flex-direction: column;
  animation: spam 10s infinite;
}

@keyframes spam {
  0%, 50%, 100% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(-40px, -40px);
  }
  75% {
    transform: translate(40px, 40px);
  }
}

@media screen and (max-width: 768px) {
  .background-text {
    font-size: 3rem;
  }
}

.h3 {
  font-size: calc(1.3rem + 0.6vw);
}
.h2 {
  font-size: calc(1.325rem + 0.9vw);
}
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
  color: var(--white); /* Keep headings in white for contrast */
}

