{% extends 'panel_base.html' %}
{% load static %}

{% block title %}
  <title>Competition Timings Panel</title>
{% endblock %}
{% block extra_header %}
<style>
    .alert ul{
        list-style-type: circle!important;
        padding-left: 20px!important;
        padding-top: 5px!important;
    }
    .alert li{
        width: 100%!important;
        display: list-item!important;
        float: none!important; 
        text-align: left!important;
    }
</style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
{% endblock extra_header %}
{% block body %}

    {% comment %} <div class="alert alert-light" role="alert">
        <div style="font-weight: 600;">Instructions:</div>
        <div style="padding: 0 5px;">
            <ul>
                <li>
                    Enter the name of the competition you want to search for in the provided search bar.
                </li>
                <li>
                    Leave the search bar empty to retrieve details for all competitions.
                </li>
            </ul>
        </div>
    </div> {% endcomment %}

  <!-- Search Bar -->

  <form >
    {% csrf_token %}
    <div class="row">
        
        <div class="search_field">
            <svg xmlns="http://www.w3.org/2000/svg" class="svg_icon bi-search" viewBox="0 0 16 16">
                <path
                d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z">
            </path>
        </svg>
        <input style="
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        " class="input-schedule-search" type="text" placeholder="Search">
        <button style="
        width: 25%; 
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        
            " type="submit" class="search-button" onclick="getCompetitionTime()">
            Search
        </button>
    </div>
</div>
</form>

    <!-- Search Button -->
    
  <!-- Query table -->

  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th>Competition Name</th>
          <th>Start Time</th>
          <th>End Time</th>
          <th>Update</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>

  <script>
    document.addEventListener("DOMContentLoaded", function () {
        const form = document.getElementById('schedule-search-form');
        form.addEventListener('submit', async (e) => {
            e.preventDefault();
            getCompetitionTime();
        })
        
        loadEntries();
        document.querySelector(".attendance-toggle").childNodes[1].classList.remove("active");
        document.querySelector(".time-schedule-toggle").childNodes[1].classList.add("active");
    });

    function renderCompetitionTimeSlots(data) {
        const tbody = document.querySelector('tbody');
        tbody.innerHTML = ''
        if (data.length == 0) {
            loadMessage("No data found.", error=false);
        }else{
        data.forEach(item => {
            const row = document.createElement('tr');
            row.innerHTML = `
        <tr>
            <td>${item.competitionName}</td>
            <td>
                <input type="time" id="${item.competitionName}-start" value="${item.start_time}">
            </td>
            <td>
                <input type="time" id="${item.competitionName}-end" value="${item.end_time}">
            </td>
            <td>
                <button id="${item.competitionName}-btn" class="up-btn" onclick="updateTime(this)">
                    Change
                </button>
            </td>
        </tr>
        `;
            tbody.appendChild(row);
        });}
    }
    
    function loadEntries() {
        loadSpinner();
    
        fetch('/api/get_time/')
            .then(response => {
                if (!response.ok) {
                    throw new Error('Failed to fetch data.');
                }
                return response.json();
            })
            .then(data => {
                renderCompetitionTimeSlots(data);
            })
            .catch(error => {
                loadMessage(message=error.message, error=true);
                console.error('Error fetching records:', error);
            });
    }
    
    function loadSpinner() {
        const tbody = document.querySelector('tbody');
        tbody.innerHTML = '';
        const row = document.createElement('tr');
        row.innerHTML = `
        <td colspan="4">
            <div class="loader-div">
                <div class="loader"></div>
                <div class="loader-text">Loading Data ...</div>
            </div>
        </td>
        `;
        tbody.appendChild(row);
    }
    
    function loadMessage(message, error = false) {
        const tbody = document.querySelector('tbody');
        tbody.innerHTML = '';
        const row = document.createElement('tr');
        if (error === true) {
            row.innerHTML = `
            <td colspan="4">
                <div class="loader-div">
                    <div class="loader-text" style="display: flex;"><div style="font-weight: 700; margin-right: 3px;">Error: </div>${message}</div>
                </div>
            </td>
            `;
        }
        else {
            row.innerHTML = `
            <td colspan="4">
                <div class="loader-div">
                    <div class="loader-text">${message}</div>
                </div>
            </td>
            `;
        }
        tbody.appendChild(row);
    }
    
    async function getCompetitionTime() {
        loadSpinner();
    
        try {
            const competitionNameInput = document.getElementById('schedule-search');
            const competitionName = competitionNameInput.value || "all_competitions";
    
            const response = await fetch(`/api/search_schedule/${competitionName}/`);
    
            if (response.ok) {
                const data = await response.json();
                renderCompetitionTimeSlots(data);
            } else {
                throw new Error("Something went wrong.")
            }
        } catch (error) {
            loadMessage(message=error.message, error=true);
            console.error('Error fetching records:', error);
        }
    }
    
    
    function updateTime(selectElement) {
        const competitionName = selectElement.getAttribute('id').split("-btn")[0];
        const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;
        startTime = document.getElementById(competitionName + "-start").value
        endTime = document.getElementById(competitionName + "-end").value
        
        // Client-side validation: Check if start time is less than end time
        if (startTime >= endTime) {
            alert("Start time must be less than end time.");
            return; // Exit function without making API call
        }
        
        fetch('/api/update_time/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrfToken
            },
            body: JSON.stringify({ competition: competitionName, startTime: startTime, endTime: endTime })
        })
            .then(response => {
                if (response.ok) {
                    alert("Time updated succesfully.")
                } else {
                    throw new Error('400 Bad request. Something went wrong.');
                }
            })
            .catch(error => {
                alert(`Server Error: ${error.message}`);
                console.error('Error updating time:', error);
            });
    }
  </script>

  <div class="dum">
        <span class="infotooltip">Instructions</span>

        <div class="infobox">
            Competition Time Update
            <ol class="infolist">
                <li>Search for the competition by name.</li>
                <li>Enter the new start or end times.</li>
                <li>Click change to update the entered times.</li>
            </ol>
        </div>

        <!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools -->
        <svg version="1.1" id="Capa_1" class="infobutton" xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 302.967 302.967" xml:space="preserve">
            <g>
                <g>
                    <g>
                        <path style="fill:#003B66;" d="M151.483,302.967C67.956,302.967,0,235.017,0,151.483S67.956,0,151.483,0
                s151.483,67.956,151.483,151.483S235.017,302.967,151.483,302.967z M151.483,24.416c-70.066,0-127.067,57.001-127.067,127.067
                s57.001,127.067,127.067,127.067s127.067-57.001,127.067-127.067S221.555,24.416,151.483,24.416z" />
                    </g>
                    <g>
                        <g>
                            <path style="fill:#003B66;" d="M116.586,118.12c1.795-4.607,4.297-8.588,7.511-11.961c3.225-3.389,7.114-6.016,11.667-7.898
                c4.547-1.904,9.633-2.845,15.262-2.845c7.261,0,13.32,0.995,18.183,2.997c4.857,1.996,8.768,4.482,11.738,7.441
                c2.964,2.97,5.091,6.168,6.369,9.584c1.273,3.432,1.915,6.636,1.915,9.595c0,4.901-0.642,8.947-1.915,12.118
                c-1.278,3.171-2.866,5.88-4.759,8.131c-1.898,2.252-3.987,4.172-6.293,5.755c-2.295,1.588-4.471,3.171-6.516,4.759
                c-2.045,1.583-3.862,3.394-5.445,5.439c-1.588,2.04-2.589,4.601-2.991,7.664v5.831H140.6v-6.908
                c0.305-4.395,1.153-8.072,2.529-11.036c1.382-2.964,2.991-5.499,4.83-7.598c1.844-2.089,3.786-3.911,5.836-5.445
                c2.04-1.539,3.927-3.073,5.673-4.591c1.73-1.545,3.144-3.225,4.221-5.069c1.071-1.833,1.556-4.15,1.452-6.908
                c0-4.705-1.148-8.18-3.454-10.427c-2.295-2.257-5.493-3.378-9.589-3.378c-2.758,0-5.134,0.533-7.131,1.605
                s-3.628,2.513-4.911,4.302c-1.278,1.795-2.225,3.894-2.834,6.288c-0.615,2.415-0.919,4.982-0.919,7.756h-22.55
                C113.85,127.785,114.791,122.732,116.586,118.12z M162.536,183.938v23.616h-24.09v-23.616H162.536z" />
                        </g>
                    </g>
                </g>
            </g>
        </svg>
    </div>

    <script>
        $(document).ready(function () {
            let boxshown = false;

            $('.infobutton').click(function () {
                if (!boxshown) {
                    $('.infobox').fadeIn('slow');
                    $('.infotooltip').hide();
                    boxshown = true;
                } else if (boxshown) {
                    $('.infobox').fadeOut('slow');
                    if ($(window).width() > 768) {
                        setTimeout(function () {
                            if ($('.infobutton').is(':hover')) {
                                $('.infotooltip').show();
                            } else {
                                $('.infotooltip').hide();
                            }
                        }, 700);
                    }
                    $('.infobutton').trigger('mouseleave');
                    boxshown = false;
                }
            })


            $('.infobutton').hover(
                function () {
                    if ($(window).width() > 768) {
                        if (!boxshown) {
                            $('.infotooltip').show();
                        }
                    }
                },
                function () {
                    if ($(window).width() > 768) {
                        $('.infotooltip').hide();
                    }
                }
            )
        })
    </script>
{% endblock %}
