{% extends 'panel_base.html' %}
{% load static %}

{% block title %}
  <title>Attendance Panel</title>
{% endblock %}
{% block extra_header %}
    <script src="{% static 'js/compCode.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
{% endblock %}
{% block body %}
  <div style="height: 25px;"></div>

  <!-- Search Bar -->
  <form id="search-form">
    <div class="row">
      <div class="search_field">
        <svg xmlns="http://www.w3.org/2000/svg" class="svg_icon bi-search" viewBox="0 0 16 16">
          <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"></path>
        </svg>
        <input id="search-input" type="text" class="input-attendance-search" placeholder="Search" />
        <select id="search-competition" class="search-dropdown">
          <option value="all_competitions">All Competitions</option>
          {% for event in events %}
            <option value="{{ event.competitionName }}">{{ event.competitionName }}</option>
          {% endfor %}
        </select>
        <!-- Search button -->
        <button type="submit" class="search-attendance-page">Search</button>
      </div>
    </div>
  </form>

  <!-- Dropdown and total indicator -->
  <!-- Dropdown and total indicator -->
  <div class="row">
    <div class="search-details-row" style="justify-content: space-between">
      <!-- <div class="container" style="width: 0%;"></div> -->

      <button class="retrieve-all-button">Retrieve All Entries</button>
      <!-- <div class="container" style="width: 0%;"></div> -->

      <div class="total-records-indicator">Total: {{ count }}</div>

      <!-- <div class="container" style="width: 0%;"></div> -->
    </div>
  </div>

  <div style="height: 5px;"></div>

  <!-- Center and collapsed the table -->

  <!-- Query table -->
  <div class="table-container">
    <table class="table">
      <thead>
        <tr>
          <th>Team Name</th>
          <th>Status</th>
          <th>Competition</th>
          <th>Leader Name</th>
          <th>Member 1</th>
          <th>Member 2</th>
          <th>Member 3</th>
          <th>Member 4</th>
        </tr>
      </thead>
      <tbody>
        <tr></tr>
      </tbody>
    </table>
  </div>
  <div class="pagination-div">
      <div id="pagination-container"></div>
    </div>
  <script>
    document.addEventListener("DOMContentLoaded", function () {
        const form = document.getElementById('search-form');
        form.addEventListener('submit', (e) => {
            searchEntires(e);
        });
        loadEntries("/api/get_record/?page=1");

        document.querySelector(".retrieve-all-button").addEventListener("click", () => {
            retrieveAllEntries();
        });
    });

    function renderEntries(data) {
        const tbody = document.querySelector('tbody');
        tbody.innerHTML = '';
        if (data.count === 0) {
            loadMessage("No data found.", error=false);
        }
        else {
            document.querySelector(".total-records-indicator").innerHTML=`Total: ${data.count}`;
            data.results.forEach(item => {
                const row = document.createElement('tr');
                row.innerHTML = `
                        <td>${item.Team_Name}</td>
                        <td><i class="fas fa-check-circle text-success"></i>
                            <form>
                                {% csrf_token %}
                                <input type="hidden" id="team_id" value=${item._id}>
                                <select name="attendance-dropdown" id="${item.Team_Name}" style="width: 110px;" onchange="updateAttendance(this)">
                                    ${item.attendance == true ? `
                                        <option value="absent">Absent</option>
                                        <option value="present" selected>Present</option>
                                        ` : `
                                        <option value="absent" selected>Absent</option>
                                        <option value="present">Present</option>
                                        `}  
                                    </select>
                            </form>
                        </td>
                        <td>${item.Competition}</td>
                        <td>${item.Leader_name}</td>
                        <td>${item.mem1_name}</td>
                        <td>${item.mem2_name}</td>
                        <td>${item.mem3_name}</td>
                        <td>${item.mem4_name}</td>
                    `;
                tbody.appendChild(row);
            });
        }
        loadPaginationButtons(data)
    }
    function loadEntries(url) {
        document.getElementById("pagination-container").innerHTML = "";
        loadSpinner();
        if (!url || typeof url !== 'string') {
            console.error('Invalid URL:', url);
            return;
        }
        
        fetch(url)
            .then(response => response.json())
            .then(data => {
                renderEntries(data);
            })
            .catch(error => {
                loadMessage(message=error,error=true);
                console.error('Error fetching records:', error);
            });
    }
    function loadPaginationButtons(data) {
        // Get pagination container element
        const paginationContainer = document.getElementById("pagination-container");
        let url = data.next
        if (url === null){
            url = data.previous
        }
        function updatePageNumber(url, pageNumber) {
            if   (url === null){
                return null;
            }
            // Use a regular expression to replace the value of the 'page' parameter
            return url.replace(/(\?|&)page=\d+/, `$1page=${pageNumber}`);
        }
    
        function createButton(url, pageNumber) {
            if (pageNumber < data.first_page) {
                return
            }
            if(pageNumber > data.last_page) {
                return
            }

            const button = document.createElement("button");
            button.innerHTML = pageNumber;
            button.classList.add("page-button");
            if (pageNumber === data.current_page) {
                button.classList.add("activePageBtn");
            } else {
                button.addEventListener('click', () => {
                    new_url = updatePageNumber(url, pageNumber);
                    if (new_url === null){
                        return;
                    }
                    loadEntries(new_url);
                });
            }
            paginationContainer.appendChild(button);
        }
        // Clear existing buttons
        paginationContainer.innerHTML = "";
    
        // Create First Button
        const firstBtn = document.createElement("button");
        firstBtn.innerHTML = "First";
        firstBtn.disabled = data.previous === null; // Disable if previous URL is null
        if (data.previous !== null) {
            firstBtn.addEventListener('click', () => {
                loadEntries(updatePageNumber(url, data.first_page));
            });
        }
        firstBtn.classList.add("page-button");
        firstBtn.classList.add("first-button");
        paginationContainer.appendChild(firstBtn);
    
        // Create Previous Button
        const previousBtn = document.createElement("button");
        previousBtn.innerHTML = "Previous";
        previousBtn.disabled = data.previous === null; // Disable if previous URL is null
        if (data.previous !== null) {
            previousBtn.addEventListener('click', () => {
                loadEntries(data.previous);
            });
        }
        previousBtn.classList.add("page-button");
        previousBtn.classList.add("previous-button");
        paginationContainer.appendChild(previousBtn);
        
        
        createButton(url, data.current_page - 1);
        createButton(url, data.current_page);
        createButton(url, data.current_page + 1);
        
    
        // Create Next Button
        const nextBtn = document.createElement("button");
        nextBtn.innerHTML = "Next";
        nextBtn.disabled = data.next === null; // Disable if next URL is null
        if (data.next !== null) {
            nextBtn.addEventListener('click', () => {
                loadEntries(data.next);
            });
        }
        nextBtn.classList.add("page-button");
        nextBtn.classList.add("next-button");
        paginationContainer.appendChild(nextBtn);
    
        // Create Last Button
        const lastBtn = document.createElement("button");
        lastBtn.innerHTML = "Last";
        lastBtn.disabled = data.next === null; // Disable if next URL is null
        if (data.next !== null) {
            lastBtn.addEventListener('click', () => {
                loadEntries(updatePageNumber(url, data.last_page));
            });
        }
        lastBtn.classList.add("page-button");
        lastBtn.classList.add("last-button");
        paginationContainer.appendChild(lastBtn);
    }
    function loadSpinner(){
        const tbody = document.querySelector('tbody');
        tbody.innerHTML = '';
        const row = document.createElement('tr');
        row.innerHTML = `
        <td colspan="8">
            <div class="loader-div">
                <div class="loader"></div>
                <div class="loader-text">Loading Data ...</div>
            </div>
        </td>
        `;
        tbody.appendChild(row);
    }

    function loadMessage(message, error=false){
        const tbody = document.querySelector('tbody');
        tbody.innerHTML = '';
        const row = document.createElement('tr');
        if (error === true)
        {
            row.innerHTML = `
            <td colspan="8">
                <div class="loader-div">
                    <div class="loader-text" style="display: flex;"><div style="font-weight: 700; margin-right: 3px;">Error: </div>${message}</div>
                </div>
            </td>
            `;
        }
        else{
            row.innerHTML = `
            <td colspan="8">
                <div class="loader-div">
                    <div class="loader-text">${message}</div>
                </div>
            </td>
            `;
        }
        tbody.appendChild(row);
    }

    async function searchEntires(e) {
        e.preventDefault();
        loadSpinner();

        let searchValue = document.getElementById('search-input').value;
        if (searchValue === "") {
            searchValue = "all";
        }
        // Encode the competition name before appending it to the URL
        let competitionName = document.getElementById('search-competition').value
        let competitionCode = getCompetitionCode(competitionName)
        try {
            const response = await fetch(`/api/record_search/${competitionCode}/${searchValue}/`);
            if (response.ok) {
                const data = await response.json();
                renderEntries(data);
            } else {
                loadMessage(message=response.statusText,error=true);
                console.error('Error:', response.statusText);
            }
        } catch (error) {
            loadMessage(message=error,error=true);
            console.error('Error:', error);
        }
    }

    function updateAttendance(selectElement) {
        const form = selectElement.parentElement;
        const teamID = form.querySelector("#team_id").value;
        const csrfToken = selectElement.parentNode.childNodes[1].value
        const newStatus = selectElement.value;

        fetch('/api/update_attendance/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrfToken
            },
            body: JSON.stringify({ teamID: teamID, status: newStatus })
        })
            .then(response => {
                if (response.ok) {
                    alert('Attendance updated successfully.');
                } else {
                    alert('Error updating attendance:', response.statusText);
                }
            })
            .catch(error => {
                console.error('Error updating attendance:', error);
            });
    }

    async function retrieveAllEntries() {
        loadSpinner();
        document.getElementById('search-input').value = "";
        document.getElementById('search-competition').value = "all_competitions";
        try {
            const response = await fetch(`/api/record_search/all_competitions/all/`);
            if (response.ok) {
                const data = await response.json();
                renderEntries(data);
            } else {
                    loadMessage(response.statusText, error=true);
                console.error('Error:', response.statusText);
            }
        } catch (error) {
                loadMessage(message=error, error=true);
                console.error('Error:', error);
        }
    }
  </script>

  <div class="dum">
        <span class="infotooltip">Instructions</span>

        <div class="infobox">
            Competition Time Update
            <ol class="infolist">
                <li>Search by either team or leader name.</li>
                <li>Use the dropdown to filter competitions.</li>
                <li>Click search to retrieve relevant enteries.</li>
                <li>Leave the search bar to retrieve all enteries.</li>
            </ol>
        </div>

        <!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools -->
        <svg version="1.1" id="Capa_1" class="infobutton" xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 302.967 302.967" xml:space="preserve">
            <g>
                <g>
                    <g>
                        <path style="fill:#003B66;" d="M151.483,302.967C67.956,302.967,0,235.017,0,151.483S67.956,0,151.483,0
                s151.483,67.956,151.483,151.483S235.017,302.967,151.483,302.967z M151.483,24.416c-70.066,0-127.067,57.001-127.067,127.067
                s57.001,127.067,127.067,127.067s127.067-57.001,127.067-127.067S221.555,24.416,151.483,24.416z" />
                    </g>
                    <g>
                        <g>
                            <path style="fill:#003B66;" d="M116.586,118.12c1.795-4.607,4.297-8.588,7.511-11.961c3.225-3.389,7.114-6.016,11.667-7.898
                c4.547-1.904,9.633-2.845,15.262-2.845c7.261,0,13.32,0.995,18.183,2.997c4.857,1.996,8.768,4.482,11.738,7.441
                c2.964,2.97,5.091,6.168,6.369,9.584c1.273,3.432,1.915,6.636,1.915,9.595c0,4.901-0.642,8.947-1.915,12.118
                c-1.278,3.171-2.866,5.88-4.759,8.131c-1.898,2.252-3.987,4.172-6.293,5.755c-2.295,1.588-4.471,3.171-6.516,4.759
                c-2.045,1.583-3.862,3.394-5.445,5.439c-1.588,2.04-2.589,4.601-2.991,7.664v5.831H140.6v-6.908
                c0.305-4.395,1.153-8.072,2.529-11.036c1.382-2.964,2.991-5.499,4.83-7.598c1.844-2.089,3.786-3.911,5.836-5.445
                c2.04-1.539,3.927-3.073,5.673-4.591c1.73-1.545,3.144-3.225,4.221-5.069c1.071-1.833,1.556-4.15,1.452-6.908
                c0-4.705-1.148-8.18-3.454-10.427c-2.295-2.257-5.493-3.378-9.589-3.378c-2.758,0-5.134,0.533-7.131,1.605
                s-3.628,2.513-4.911,4.302c-1.278,1.795-2.225,3.894-2.834,6.288c-0.615,2.415-0.919,4.982-0.919,7.756h-22.55
                C113.85,127.785,114.791,122.732,116.586,118.12z M162.536,183.938v23.616h-24.09v-23.616H162.536z" />
                        </g>
                    </g>
                </g>
            </g>
        </svg>
    </div>

    <script>
        $(document).ready(function () {
            let boxshown = false;

            $('.infobutton').click(function () {
                if (!boxshown) {
                    $('.infobox').fadeIn('slow');
                    $('.infotooltip').hide();
                    boxshown = true;
                } else if (boxshown) {
                    $('.infobox').fadeOut('slow');
                    if ($(window).width() > 768) {
                        setTimeout(function () {
                            if ($('.infobutton').is(':hover')) {
                                $('.infotooltip').show();
                            } else {
                                $('.infotooltip').hide();
                            }
                        }, 700);
                    }
                    $('.infobutton').trigger('mouseleave');
                    boxshown = false;
                }
            })


            $('.infobutton').hover(
                function () {
                    if ($(window).width() > 768) {
                        if (!boxshown) {
                            $('.infotooltip').show();
                        }
                    }
                },
                function () {
                    if ($(window).width() > 768) {
                        $('.infotooltip').hide();
                    }
                }
            )
        })
    </script>
{% endblock %}
