{% extends 'panel_base.html' %}
{% load static %}

{% block title %}
  <title>Attendance Panel</title>
{% endblock %}
{% block extra_header %}
    <script src="{% static 'js/compCode.js' %}"></script>
{% endblock %}
{% block body %}
  <div style="height: 25px;"></div>

  <!-- Search Bar -->
  <form id="search-form">
    <div class="row">
      <div class="search_field">
        <input id="search-input" type="text" class="input-attendance-search" placeholder="Enter team or leader name" />
        <select id="search-competition" class="search-dropdown">
          <option value="all_competitions">All Competitions</option>
          {% for event in events %}
            <option value="{{ event.competitionName }}">{{ event.competitionName }}</option>
          {% endfor %}
        </select>
        <button type="submit" class="search-attendance-page">Search</button>
      </div>
    </div>
  </form>

  <!-- Dropdown and total indicator -->
  <!-- Dropdown and total indicator -->
  <div class="row">
    <div class="search-details-row" style="justify-content: space-between">
      <!-- <div class="container" style="width: 0%;"></div> -->

      <button class="retrieve-all-button">Retrieve All Entries</button>
      <!-- <div class="container" style="width: 0%;"></div> -->

      <div class="total-records-indicator">Total: {{ count }}</div>

      <!-- <div class="container" style="width: 0%;"></div> -->
    </div>
  </div>

  <div style="height: 5px;"></div>

  <!-- Center and collapsed the table -->

  <!-- Query table -->
  <div class="table-container">
    <table class="table">
      <thead>
        <tr>
          <th>Team Name</th>
          <th>Status</th>
          <th>Competition</th>
          <th>Leader Name</th>
          <th>Member 1</th>
          <th>Member 2</th>
          <th>Member 3</th>
          <th>Member 4</th>
        </tr>
      </thead>
      <tbody>
        <tr></tr>
      </tbody>
    </table>
  </div>
  <div class="pagination-div">
      <div id="pagination-container"></div>
    </div>
  <script>
    document.addEventListener("DOMContentLoaded", function () {
        const form = document.getElementById('search-form');
        form.addEventListener('submit', (e) => {
            searchEntires(e);
        });
        loadEntries("/api/get_record/?page=1");

        document.querySelector(".retrieve-all-button").addEventListener("click", () => {
            retrieveAllEntries();
        });
    });

    function renderEntries(data) {
        const tbody = document.querySelector('tbody');
        tbody.innerHTML = '';
        if (data.count === 0) {
            loadMessage("No data found.", error=false);
        }
        else {
            document.querySelector(".total-records-indicator").innerHTML=`Total: ${data.count}`;
            data.results.forEach(item => {
                const row = document.createElement('tr');
                row.innerHTML = `
                        <td>${item.Team_Name}</td>
                        <td><i class="fas fa-check-circle text-success"></i>
                            <form>
                                {% csrf_token %}
                                <input type="hidden" id="team_id" value=${item._id}>
                                <select name="attendance-dropdown" id="${item.Team_Name}" style="width: 110px;" onchange="updateAttendance(this)">
                                    ${item.attendance == true ? `
                                        <option value="absent">Absent</option>
                                        <option value="present" selected>Present</option>
                                        ` : `
                                        <option value="absent" selected>Absent</option>
                                        <option value="present">Present</option>
                                        `}  
                                    </select>
                            </form>
                        </td>
                        <td>${item.Competition}</td>
                        <td>${item.Leader_name}</td>
                        <td>${item.mem1_name}</td>
                        <td>${item.mem2_name}</td>
                        <td>${item.mem3_name}</td>
                        <td>${item.mem4_name}</td>
                    `;
                tbody.appendChild(row);
            });
        }
        loadPaginationButtons(data)
    }
    function loadEntries(url) {
        document.getElementById("pagination-container").innerHTML = "";
        loadSpinner();
        if (!url || typeof url !== 'string') {
            console.error('Invalid URL:', url);
            return;
        }
        
        fetch(url)
            .then(response => response.json())
            .then(data => {
                renderEntries(data);
            })
            .catch(error => {
                loadMessage(message=error,error=true);
                console.error('Error fetching records:', error);
            });
    }
    function loadPaginationButtons(data) {
        // Get pagination container element
        const paginationContainer = document.getElementById("pagination-container");
        let url = data.next
        if (url === null){
            url = data.previous
        }
        function updatePageNumber(url, pageNumber) {
            if   (url === null){
                return null;
            }
            // Use a regular expression to replace the value of the 'page' parameter
            return url.replace(/(\?|&)page=\d+/, `$1page=${pageNumber}`);
        }
    
        function createButton(url, pageNumber) {
            if (pageNumber < data.first_page) {
                return
            }
            if(pageNumber > data.last_page) {
                return
            }

            const button = document.createElement("button");
            button.innerHTML = pageNumber;
            button.classList.add("page-button");
            if (pageNumber === data.current_page) {
                button.classList.add("activePageBtn");
            } else {
                button.addEventListener('click', () => {
                    new_url = updatePageNumber(url, pageNumber);
                    if (new_url === null){
                        return;
                    }
                    loadEntries(new_url);
                });
            }
            paginationContainer.appendChild(button);
        }
        // Clear existing buttons
        paginationContainer.innerHTML = "";
    
        // Create First Button
        const firstBtn = document.createElement("button");
        firstBtn.innerHTML = "First";
        firstBtn.disabled = data.previous === null; // Disable if previous URL is null
        if (data.previous !== null) {
            firstBtn.addEventListener('click', () => {
                loadEntries(updatePageNumber(url, data.first_page));
            });
        }
        firstBtn.classList.add("page-button");
        firstBtn.classList.add("first-button");
        paginationContainer.appendChild(firstBtn);
    
        // Create Previous Button
        const previousBtn = document.createElement("button");
        previousBtn.innerHTML = "Previous";
        previousBtn.disabled = data.previous === null; // Disable if previous URL is null
        if (data.previous !== null) {
            previousBtn.addEventListener('click', () => {
                loadEntries(data.previous);
            });
        }
        previousBtn.classList.add("page-button");
        previousBtn.classList.add("previous-button");
        paginationContainer.appendChild(previousBtn);
        
        
        createButton(url, data.current_page - 1);
        createButton(url, data.current_page);
        createButton(url, data.current_page + 1);
        
    
        // Create Next Button
        const nextBtn = document.createElement("button");
        nextBtn.innerHTML = "Next";
        nextBtn.disabled = data.next === null; // Disable if next URL is null
        if (data.next !== null) {
            nextBtn.addEventListener('click', () => {
                loadEntries(data.next);
            });
        }
        nextBtn.classList.add("page-button");
        nextBtn.classList.add("next-button");
        paginationContainer.appendChild(nextBtn);
    
        // Create Last Button
        const lastBtn = document.createElement("button");
        lastBtn.innerHTML = "Last";
        lastBtn.disabled = data.next === null; // Disable if next URL is null
        if (data.next !== null) {
            lastBtn.addEventListener('click', () => {
                loadEntries(updatePageNumber(url, data.last_page));
            });
        }
        lastBtn.classList.add("page-button");
        lastBtn.classList.add("last-button");
        paginationContainer.appendChild(lastBtn);
    }
    function loadSpinner(){
        const tbody = document.querySelector('tbody');
        tbody.innerHTML = '';
        const row = document.createElement('tr');
        row.innerHTML = `
        <td colspan="8">
            <div class="loader-div">
                <div class="loader"></div>
                <div class="loader-text">Loading Data ...</div>
            </div>
        </td>
        `;
        tbody.appendChild(row);
    }

    function loadMessage(message, error=false){
        const tbody = document.querySelector('tbody');
        tbody.innerHTML = '';
        const row = document.createElement('tr');
        if (error === true)
        {
            row.innerHTML = `
            <td colspan="8">
                <div class="loader-div">
                    <div class="loader-text" style="display: flex;"><div style="font-weight: 700; margin-right: 3px;">Error: </div>${message}</div>
                </div>
            </td>
            `;
        }
        else{
            row.innerHTML = `
            <td colspan="8">
                <div class="loader-div">
                    <div class="loader-text">${message}</div>
                </div>
            </td>
            `;
        }
        tbody.appendChild(row);
    }

    async function searchEntires(e) {
        e.preventDefault();
        loadSpinner();

        let searchValue = document.getElementById('search-input').value;
        if (searchValue === "") {
            searchValue = "all";
        }
        // Encode the competition name before appending it to the URL
        let competitionName = document.getElementById('search-competition').value
        let competitionCode = getCompetitionCode(competitionName)
        try {
            const response = await fetch(`/api/record_search/${competitionCode}/${searchValue}/`);
            if (response.ok) {
                const data = await response.json();
                renderEntries(data);
            } else {
                loadMessage(message=response.statusText,error=true);
                console.error('Error:', response.statusText);
            }
        } catch (error) {
            loadMessage(message=error,error=true);
            console.error('Error:', error);
        }
    }

    function updateAttendance(selectElement) {
        const form = selectElement.parentElement;
        const teamID = form.querySelector("#team_id").value;
        const csrfToken = selectElement.parentNode.childNodes[1].value
        const newStatus = selectElement.value;

        fetch('/api/update_attendance/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrfToken
            },
            body: JSON.stringify({ teamID: teamID, status: newStatus })
        })
            .then(response => {
                if (response.ok) {
                    alert('Attendance updated successfully.');
                } else {
                    alert('Error updating attendance:', response.statusText);
                }
            })
            .catch(error => {
                console.error('Error updating attendance:', error);
            });
    }

    async function retrieveAllEntries() {
        loadSpinner();
        document.getElementById('search-input').value = "";
        document.getElementById('search-competition').value = "all_competitions";
        try {
            const response = await fetch(`/api/record_search/all_competitions/all/`);
            if (response.ok) {
                const data = await response.json();
                renderEntries(data);
            } else {
                    loadMessage(response.statusText, error=true);
                console.error('Error:', response.statusText);
            }
        } catch (error) {
                loadMessage(message=error, error=true);
                console.error('Error:', error);
        }
    }
  </script>
  <script>
    document.addEventListener("DOMContentLoaded", ()=>{
        // JavaScript to change the button on small screens
        window.addEventListener('resize', function () {
            changeSearchButton();
        });
        changeSearchButton();
    });

    function changeSearchButton() {
        var button = document.querySelector('.search-attendance-page');
        if (window.innerWidth <= 600) {
            button.innerHTML = '<i class="bi bi-search" style="color: white;font-size: 1.2rem;"></i>';
        }
        else{
            button.innerHTML = 'Search';
        }
        return;
    }
    </script>
{% endblock %}
