{% extends 'panel_base.html' %}
{% load static %}

{% block title %}
  <title>Attendance Panel</title>
{% endblock %}

{% block body %}
  <div style="height: 25px;"></div>

  <!-- Search Bar -->
  <form id="search-form">
    <div class="row">
      <div class="search_field">
        <svg xmlns="http://www.w3.org/2000/svg" class="svg_icon bi-search" viewBox="0 0 16 16">
          <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"></path>
        </svg>
        <input id="search-input" type="text" class="input-attendance-search" placeholder="Search" />
        <select id="search-competition" class="search-dropdown">
          <option value="all_competitions">All Competitions</option>
          {% for event in events %}
            <option value="{{ event.competitionName }}">{{ event.competitionName }}</option>
          {% endfor %}
        </select>
        <!-- Search button -->
        <button type="submit" class="search-attendance-page">Search</button>
      </div>
    </div>
  </form>

  <!-- Dropdown and total indicator -->
  <!-- Dropdown and total indicator -->
  <div class="row">
    <div class="search-details-row" style="justify-content: space-between">
      <!-- <div class="container" style="width: 0%;"></div> -->

      <button class="retrieve-all-button">Retrieve All Entries</button>
      <!-- <div class="container" style="width: 0%;"></div> -->

      <div class="total-records-indicator">Total: {{ count }}</div>

      <!-- <div class="container" style="width: 0%;"></div> -->
    </div>
  </div>

  <div style="height: 5px;"></div>

  <!-- Center and collapsed the table -->

  <!-- Query table -->
  <div class="table-container">
    <table class="table">
      <thead>
        <tr>
          <th>Team Name</th>
          <th>Status</th>
          <th>Competition</th>
          <th>Leader Name</th>
          <th>Member 1</th>
          <th>Member 2</th>
          <th>Member 3</th>
          <th>Member 4</th>
        </tr>
      </thead>
      <tbody>
        <tr></tr>
      </tbody>
    </table>
  </div>
  <script>
    document.addEventListener("DOMContentLoaded", function () {
        const form = document.getElementById('search-form');
        form.addEventListener('submit', (e) => {
            searchEntires(e);
        });

        loadEntries();

        document.querySelector(".retrieve-all-button").addEventListener("click", () => {
            retrieveAllEntries();
        });
    });

    function renderEntries(data) {
        const tbody = document.querySelector('tbody');
        tbody.innerHTML = '';
        if (data.length == 0) {
            loadMessage("No data found.", error=false);
        }
        else {
            data.forEach(item => {
                const row = document.createElement('tr');
                row.innerHTML = `
                        <td>${item.Team_Name}</td>
                        <td><i class="fas fa-check-circle text-success"></i>
                            <form>
                                {% csrf_token %}
                                <select name="attendance-dropdown" id="${item.Team_Name}" style="width: 110px;" onchange="updateAttendance(this)">
                                    ${item.attendance == true ? `
                                        <option value="absent">Absent</option>
                                        <option value="present" selected>Present</option>
                                        ` : `
                                        <option value="absent" selected>Absent</option>
                                        <option value="present">Present</option>
                                        `}  
                                    </select>
                            </form>
                        </td>
                        <td>${item.Competition}</td>
                        <td>${item.Leader_name}</td>
                        <td>${item.mem1_name}</td>
                        <td>${item.mem2_name}</td>
                        <td>${item.mem3_name}</td>
                        <td>${item.mem4_name}</td>
                    `;
                tbody.appendChild(row);
            });
        }
    }
    function loadEntries() {
        loadSpinner();

        fetch('/api/get_record/')
            .then(response => response.json())
            .then(data => {
                renderEntries(data);
            })
            .catch(error => {
                loadMessage(message=error,error=true);
                console.error('Error fetching records:', error);
            });
    }

    function loadSpinner(){
        const tbody = document.querySelector('tbody');
        tbody.innerHTML = '';
        const row = document.createElement('tr');
        row.innerHTML = `
        <td colspan="8">
            <div class="loader-div">
                <div class="loader"></div>
                <div class="loader-text">Loading Data ...</div>
            </div>
        </td>
        `;
        tbody.appendChild(row);
    }

    function loadMessage(message, error=false){
        const tbody = document.querySelector('tbody');
        tbody.innerHTML = '';
        const row = document.createElement('tr');
        if (error === true)
        {
            row.innerHTML = `
            <td colspan="8">
                <div class="loader-div">
                    <div class="loader-text" style="display: flex;"><div style="font-weight: 700; margin-right: 3px;">Error: </div>${message}</div>
                </div>
            </td>
            `;
        }
        else{
            row.innerHTML = `
            <td colspan="8">
                <div class="loader-div">
                    <div class="loader-text">${message}</div>
                </div>
            </td>
            `;
        }
        tbody.appendChild(row);
    }

    async function searchEntires(e) {
        e.preventDefault();
        loadSpinner();

        let searchValue = document.getElementById('search-input').value;
        if (searchValue === "") {
            searchValue = "all";
        }
        let competitionName = document.getElementById('search-competition').value

        try {
            const response = await fetch(`/api/record_search/${competitionName}/${searchValue}/`);
            if (response.ok) {
                const data = await response.json();
                renderEntries(data);
            } else {
                loadMessage(message=response.statusText,error=true);
                console.error('Error:', response.statusText);
            }
        } catch (error) {
            loadMessage(message=error,error=true);
            console.error('Error:', error);
        }
    }

    function updateAttendance(selectElement) {
        const teamName = selectElement.getAttribute('id');
        const csrfToken = selectElement.parentNode.childNodes[1].value
        const newStatus = selectElement.value;

        fetch('/api/update_attendance/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrfToken
            },
            body: JSON.stringify({ team: teamName, status: newStatus })
        })
            .then(response => {
                if (response.ok) {
                    alert('Attendance updated successfully.');
                } else {
                    alert('Error updating attendance:', response.statusText);
                }
            })
            .catch(error => {
                console.error('Error updating attendance:', error);
            });
    }

    async function retrieveAllEntries() {
        loadSpinner();
        document.getElementById('search-input').value = "";
        document.getElementById('search-competition').value = "all_competitions";
        try {
            const response = await fetch(`/api/record_search/all_competitions/all/`);
            if (response.ok) {
                const data = await response.json();
                renderEntries(data);
            } else {
                    loadMessage(response.statusText, error=true);
                console.error('Error:', response.statusText);
            }
        } catch (error) {
                loadMessage(message=error, error=true);
                console.error('Error:', error);
        }
    }
  </script>
{% endblock %}
